<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Site Metas -->
<title>BookStore</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="style.css">
<!-- Colors CSS -->
<link rel="stylesheet" href="css/colors.css">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="css/versions.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="css/custom.css">

<!-- Modernizer for Portfolio -->
<script src="js/modernizer.js"></script>

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link type="text/css" rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css}" />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
<script src="/js/datatable.js"></script>
<script src="/js/validate.js"></script>
<style>
		.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
		.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}


	</style>
</head>
<body class="host_version">
<div id="preloader">
    <div class="loading">
        <div class="finger finger-1">
            <div class="finger-item">
                <span></span><i></i>
            </div>
        </div>
        <div class="finger finger-2">
            <div class="finger-item">
                <span></span><i></i>
            </div>
        </div>
        <div class="finger finger-3">
            <div class="finger-item">
                <span></span><i></i>
            </div>
        </div>
        <div class="finger finger-4">
            <div class="finger-item">
                <span></span><i></i>
            </div>
        </div>
        <div class="last-finger">
            <div class="last-finger-item"><i></i></div>
        </div>
    </div>
</div>
<!-- END LOADER -->

<header class="header header_style_01">
    <nav class="megamenu navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html" style="color:blue;">BOOKSTORE</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="active" href="homepageUser">Home</a></li>
                    <li><a class="active" href="myBook">My Book </a></li>

                </ul>
                <ul id="logo" class="nav navbar-nav navbar-right">

                    <script>
                     $("#logo").append(
                         '<strong><h4 style="color:blue">'+window.localStorage.getItem('username')+'</h4></strong>'
                         );
                    </script>
                    <button id="btnLogout" type="button" class="fa fa-sign-out fa-fw">Logout</button>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="item">
    <div class="container">
        <div class="row">
            <p> </p>
            <br>
        </div>
    </div>
</div>

<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tit-up">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Book</h4>
            </div>
            <div class="modal-body customer-box row">
                <div class="col-md-12">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div  class="tab-pane active" >
                            <div id="loginForm" class="form-horizontal" >
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label style="color:red;">Title(*)</label>
                                        <input class="form-control" id="titleNew" name="title" placeholder="Title" type="text" onkeyup="myFunction1()">
                                        <div id="error1" class="error-msg" style="display:none;">
                                            <i class="fa fa-times-circle"></i>
                                            This field is required!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label style="color:red;">Author(*)</label>
                                        <input class="form-control" id="authorNew" name="author" placeholder="author" type="text" onkeyup="myFunction2()">
                                        <div id="error2" class="error-msg" style="display:none;">
                                            <i class="fa fa-times-circle"></i>
                                            This field is required!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label style="color:red;">Description(*)</label>
                                        <input class="form-control" id="descriptionNew" name="description" placeholder="description" type="text" onkeyup="myFunction3()">
                                        <div id="error3" class="error-msg" style="display:none;">
                                            <i class="fa fa-times-circle"></i>
                                            This field is required!
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <center>
                                            <button id="btnNewBook" type="submit" class="btn btn-light btn-radius btn-brd grd1" data-dismiss="modal">
                                                Submit
                                            </button>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function myFunction1() {
        $('#error1').hide();
     };
      function myFunction2() {
        $('#error2').hide();
     }
     function myFunction3() {
        $('#error3').hide();
     }
</script>
<div class="item">
    <div class="container">
        <div class="row">
            <button class="btn btn-success green"  data-toggle="modal" data-target="#create" ><i class="fa fa-newspaper-o"></i>Create Book</button>
        </div>
    </div>
</div>
<div class="item">
    <div class="container">
        <div class="row">
            <p> </p>
            <br>
        </div>
    </div>
</div>

<div class="container">
<!--    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Book</h4>
                </div>
                <div class="modal-body">
                    <p>You want delete book???</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="deleteBook" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>

        </div>
    </div>

</div>


<div class="item">
    <div class="container">
        <div class="row">
            <div class="big-tagline">
                <table id="myBook" class="table table-striped" >

                    <!-- Header Table -->
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>title</th>
                        <th>author</th>
                        <th>description</th>
                        <th>dayCreate</th>
                        <th>dayUpdate</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>delete</th>
                    </tr>
                    </thead>
                    <!-- Footer Table -->
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>title</th>
                        <th>author</th>
                        <th>description</th>
                        <th>dayCreate</th>
                        <th>dayUpdate</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>delete</th>

                    </tr>
                    </tfoot>
                </table>

                <script>
                        var id=window.localStorage.getItem('id');
								$.ajax({
                     type: "GET",
                      url: "/api/books/user_id/"+id,
                      dataType: "json",
                      contentType: 'application/json',
                      success: function (result) {
                      $("#myBook").empty();
                      $("#myBook").append(
                      '<thead>'
                    +'<tr>'
                        +'<th>Id</th>'
                        +'<th>title</th>'
                        +'<th>author</th>'
                        +'<th>description</th>'
                        +'<th>dayCreate</th>'
                        +'<th>dayUpdate</th>'
                        +'<th>Status</th>'
                        +'<th>Update</th>'
                        +'<th>delete</th>'
                    +'</tr>'
                    +'</thead>'
                    <!-- Footer Table -->
                    +'<tfoot>'
                    +'<tr>'
                        +'<th>Id</th>'
                        +'<th>title</th>'
                        +'<th>author</th>'
                        +'<th>description</th>'
                        +'<th>dayCreate</th>'
                        +'<th>dayUpdate</th>'
                        +'<th>Status</th>'
                        +'<th>Update</th>'
                        +'<th>delete</th>'
                    +'</tr>'
                    +'</tfoot>'
                      );
                      for(var i=0;i<result.length;i++){
                                    $("#myBook").append(
                                    '<tr>'
									+'<th>'+result[i].id+'</th>'
									+"<th><a href=/bookUser/" + result[i].id + ">" +result[i].title+'</a></th>'
									+'<th>'+result[i].author+'</th>'
									+'<th>'+result[i].description.substring(0, 18)+"..."+'</th>'
									+'<th>'+result[i].dayCreate+'</th>'
									+'<th>'+result[i].dayUpdate+'</th>'
									+'<th>'+result[i].enable+'</th>'
									+"<th><a href=/editBook/" + result[i].id + '>Edit</a></th>'
									+"<th><button id='"+ result[i].id + "' data-toggle='modal' data-target='#myModal' onClick='reply_click(this.id)'>Delete</button></th>"
								+'</tr>'
                                    );

                                }
                                },
                                error: function(error) {
                                alert("Fail");
                                }
                  });
							</script>



                <script>
                    $("#btnNewBook").click(function(){
                                var input1 = document.getElementById('titleNew').value;
                                var input2 = document.getElementById('authorNew').value;
                                var input3 = document.getElementById('descriptionNew').value;
                                if(input2=='') {
                                $('#error2').show();
                                }
                                if(input1=='') {
                                $('#error1').show();
                                }
                                if(input3=='') {
                                $('#error3').show();
                                }
                                else{
                                $('#error1').hide();
                                $('#error2').hide();
                                $('#error3').hide();
                 $.ajax({
                     type: "POST",
                      url: "/api/books/create_book",
                      headers: {
                          'token': window.localStorage.getItem("token")
                      },
                      dataType: "json",
                      contentType: 'application/json',
                      success: function (result) {
                      $("#myBook").append(
                                    '<tr>'
									+'<th>'+result.id+'</th>'
									+"<th><a href=/bookUser/" + result.id + ">" +result.title+'</a></th>'
									+'<th>'+result.author+'</th>'
									+'<th>'+result.description.substring(0, 18)+"..."+'</th>'
									+'<th>'+result.dayCreate+'</th>'
									+'<th>'+result.dayUpdate+'</th>'
									+'<th>'+result.enable+'</th>'
									+"<th><a href=/editBook/" + result.id + '>Edit</a></th>'
									+"<th><button id='"+ result.id + "' data-toggle='modal' data-target='#myModal' onClick='reply_click(this.id)'>Delete</button></th>"
								+'</tr>'
                                    );
                      },
                      data: JSON.stringify({
                          title: $('#titleNew').val(),
                          author:$('#authorNew').val(),
                          description: $('#descriptionNew').val()
                      }),
                            error: function(error) {
                            alert("Create fail!!!");
                   }
                  });
                  }
            });
                </script>




                <script>
                     function reply_click(clicked_id){
                        $.ajax({
                            url: '/api/books/delete_book/' + clicked_id,
                            type: 'delete',
                        success: function(result) {
                        $("#myBook").empty();
                        $("#myBook").append(
                      '<thead>'
                    +'<tr>'
                        +'<th>Id</th>'
                        +'<th>title</th>'
                        +'<th>author</th>'
                        +'<th>description</th>'
                        +'<th>dayCreate</th>'
                        +'<th>dayUpdate</th>'
                        +'<th>Status</th>'
                        +'<th>Update</th>'
                        +'<th>delete</th>'
                    +'</tr>'
                    +'</thead>'
                    <!-- Footer Table -->
                    +'<tfoot>'
                    +'<tr>'
                        +'<th>Id</th>'
                        +'<th>title</th>'
                        +'<th>author</th>'
                        +'<th>description</th>'
                        +'<th>dayCreate</th>'
                        +'<th>dayUpdate</th>'
                        +'<th>Status</th>'
                        +'<th>Update</th>'
                        +'<th>delete</th>'
                    +'</tr>'
                    +'</tfoot>'
                      );
                      for(var i=0;i<result.length;i++){
                                    $("#myBook").append(
                                    '<tr>'
									+'<th>'+result[i].id+'</th>'
									+"<th><a href=/bookUser/" + result[i].id + ">" +result[i].title+'</a></th>'
									+'<th>'+result[i].author+'</th>'
									+'<th>'+result[i].description.substring(0, 18)+"..."+'</th>'
									+'<th>'+result[i].dayCreate+'</th>'
									+'<th>'+result[i].dayUpdate+'</th>'
									+'<th>'+result[i].enable+'</th>'
									+"<th><a href=/editBook/" + result[i].id + '>Edit</a></th>'
									+"<th><button id='"+ result[i].id + "' data-toggle='modal' data-target='#myModal' onClick='reply_click(this.id)'>Delete</button></th>"
								+'</tr>'
                                    );

                                }
                         },
                            error: function(error) {
                            alert("Delete fail");
                   }
               });
                     }
                </script>



                <script>
    $("#btnLogout").click(function(){
    window.localStorage.clear();
    window.location="/index";
    });
</script>

            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>

<div class="item">
    <div class="container">
        <div class="row">
            <p> </p>
            <br>
        </div>
    </div>
</div>

<!-- ALL JS FILES -->
<script src="js/all.js"></script>
<!-- ALL PLUGINS -->
<script src="js/custom.js"></script>

</body>
</html>